<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Ships</title>
  <meta name="description" content="Ships">
  <meta name="author" content="Jean-Louis Fuchs">

  <link rel="stylesheet" href="/static/styles.css">

<script language="javascript" type="text/javascript">

game = "{{ escape(game) }}";
player = "{{ escape(player) }}";
secret = "{{ escape(secret) }}";

function exec_command()
{
	return false;
}

function send_msg(msg)
{
	websocket.send(JSON.stringify(msg));
}

function ping()
{
	send_msg({
		"type": "ping"
	});
	window.setTimeout(ping, 25000);
}

function connect_websocket()
{
	websocket = new WebSocket("{{ escape(ws_url) }}");
	field = document.getElementById("ping_count");
	field.innerHTML = 0;
	websocket.onopen = function(evt)
	{
		send_msg({
			"type": "hello",
			"game": game,
			"player": player,
			"secret": secret
		});
		ping();
	};
	websocket.onclose = function(evt)
	{
		window.setTimeout(connect_websocket, 1000);
	};
	websocket.onmessage = function(evt)
	{
		var msg = JSON.parse(evt.data);
		if(msg.type == 'alert')
		{
			alert(msg.text);
		}
		if(msg.type == 'pong')
		{
			field = document.getElementById("ping_count");
			count = parseInt(field.innerHTML);
			count += 1;
			field.innerHTML = count;
		}
	};
	websocket.onerror = function(evt)
	{
		window.setTimeout(connect_websocket, 5000);
	};
}
function init()
{
	connect_websocket();
}
</script>
</head>

<body onload="init();">
<div class="fr" id="ping_count">0</div>
<form action="" name="form_command" onsubmit="return exec_command();">
  Command:<input type="text" name="input_command">
</form>
</body>
</html>
